<html>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
  <body>
    <div class="events_list light well">
   <h1> Your Pulsd Adminstrator Dashboard</h1></br></br>
   <table>
      <tr>
        <th> Event Name:</th>
        <th> Start Date:</th>
        <th> End Date:</th>
        <th> Time:</th>
        <th> Location:</th>
      </tr>
    <% @events.all.each do |event| %>
      <tr>
        <td><%= event.name.camelcase %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.time %></td>
        <td><%= event.location %></td>
      </tr>
    <% end %>
    </div>
  </table>
  </body>
</html>
